* {
    padding: 0%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 22px;
    margin-right: 41px;
}

.navbar-toggler {
    border: 1px solid black;
}

.navbar-collapse {
    text-align: center;
}

.nav-item {
    color: #1F2933;
    font-size: 23.93px;
    margin-top: 30px;
}

.h2Menu {
    font-size: 67%;
}

#primerParte {
    text-align: -webkit-center;
}

.parrafoMusee {
    position: absolute;
    padding: 62px 0px 0px 210px;
    font-size: 26px;
    color: #FFFFFF;
}

.h1Musee {
    position: absolute;
    padding: 84px 0px 0px 30px;
    font-size: 53px;
    color: #FFFFFF;

}

.imgPrimerParte {
    width: 100%;
}

.imgMusee {
    width: 80%;
    margin: -70% 0% 0% 0%;
}

#segundaParte {
    font-family: 'Open Sans';
    padding: 10% 10%;
    margin-left: 4%;
    text-align: center;
}

.parrafoSegundaParte {
    font-size: 86%;
    width: 324px;
    margin: 10% 3% 10% 5%;
    text-align: start;
}

.fondoBotonSegundaParte {
    padding: 12px 5px;
    width: 260px;
    text-align: center;
    border-radius: 4%;
    font-size: 100%;
    background-color: #FF761A;
}

.botonSegundaParte {
    font-size: 89%;
    padding: 0% 4% 0% 4%;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
}

#tercerParte {
    text-align: -webkit-center;
    margin: 122px 0%;
}

.cajaTercerParte {
    display: grid;
    position: relative;
    width: 320px;
    margin-bottom: 7%;
    padding-right: 30px;
    background-color: #3795F5;
}

.infoTercera {
    font-family: 'Open Sans';
    font-size: 117%;
    padding: 8% 10% 0% 5%;
    color: #FFFFFF;
}

.divTercera {
    display: grid;
    grid-template-columns: 51px 83%;
}

.imgTercera {
    padding: 18px 0px 0px 39px;
}

.jardinTercera {
    font-size: 117%;
    margin: 13px 0px 8px 18px;
    font-family: 'Open Sans';
    text-align: initial;
    color: #FFFFFF;
}

.relojTercera {
    font-size: 117%;
    margin: 13px 0px 8px 18px;
    font-family: 'Open Sans';
    text-align: initial;
    color: #FFFFFF;
}

.trenTercera {
    font-size: 117%;
    margin: 15px 0px 8px 18px;
    font-family: 'Open Sans';
    text-align: initial;
    color: #FFFFFF;
}

.fondoTercer {
    padding: 12px 5px;
    width: 80%;
    margin: 10% 0% 10% 17%;
    text-align: center;
    border-radius: 4%;
    background-color: #3B54A6;
}

.botonTercer {
    color: #FFFFFF;
    text-decoration: none;
}

.cajaCuartaParte {
    width: 315px;
    font-family: 'Open Sans';
    text-align: left;
    color: #18191F;
}

.tituloCuartaParte {
    text-align: -webkit-left;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 233%;
    color: #3B54A6;
}

.infoCuartaParte {
    text-align: -webkit-left;
}

.fondoCuarta {
    text-align: center;
}

.botonCuarta {
    float: left;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #FF761A;
}

.quintaParte {
    text-align: -webkit-center;
}

.tituloQuintaParte {
    width: 280px;
    font-size: 200%;
    margin-top: 5%;
    font-family: 'Lora';
    font-weight: 700;
    text-align: left;
    color: #3B54A6;
}

.cajaUno {
    width: 18rem !important;
    background-color: #E5E5E5;
    margin-bottom: 15px;
}

.imgCajaUno {
    width: 100%;
}

.h3CajaUno {
    width: 100%;
    min-height: 100px;
    font-weight: 700;
    font-size: 130%;
    padding: 4%;
    font-family: 'Open Sans';
    color: #000000;
}

.h5CajaUno {
    min-height: 150px;
    padding: 4%;
    font-weight: 400;
    font-size: 117%;
    font-family: 'Open Sans';
    font-style: normal;
    color: #000000;
}

.lineaQuinta {
    margin-left: 31px;
    font-size: 230%;
    color: #C4C4C4;
}

.pCajaUno {
    font-weight: 600;
    font-size: 19px;
    padding: 4%;
    border-top: 0.5px solid #C4C4C4;
    width: 100%;
    color: #000000;
}

.botonQuinta {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 140%;
    color: #FF761A;
}

.sextaParte {
    text-align: -webkit-center !important;
}

.w-100 {
    width: 315px !important;
}

.h1Sexta {
    width: 290px;
    text-align: left;
    font-family: 'Lora';
    font-size: 240%;
    font-weight: 700;
    padding: 7%;
    margin: 5% 0% 0% -10%;
    color: #3B54A6;
}

.fondoBotonSexta {
    font-family: 'Open Sans';
    width: 200px;
    text-align: center;
    border-radius: 4%;
    font-size: 93%;
    padding: 8px 5px;
    margin: 4% 0% 0% 0%;
    background-color: #FF761A;
}

.botonSexta {
    font-size: 89%;
    padding: 0% 4% 0% 4%;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
}

.septimaParte {
    text-align: -webkit-center;
}

.cajaDeCards {
    width: 330px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.h1Septima {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 277%;
    padding: 4%;
    margin: 50px 84px 50px 0px;
    color: #3B54A6;
}

.h3Septima {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: -15% 0% -4% 10%;
    text-align: left;
    color: #FFFFFF;
}

.imgActuali {
    display: none;
}

.h3Actuali {
    display: none;
}

.imgSeptima5 {
    display: none;
}

.imgSeptima {
    margin-bottom: 2%;
}

.fondoSeptima {
    width: 300px;
    margin-top: 49px;
    text-align: left;
}

.botonSeptima {
    color: #FF761A;
    text-decoration: none;
}

.h1Octava {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 239%;
    padding: 8%;
    color: #3B54A6;
}

.imgOctava {
    padding: 8%;
}

.fotoUnoOcta {
    width: 100%;
}

.fotoDosOcta {
    margin: -24% 0% 20% 0%;
    border-top: 10px solid #FFFFFF;
    border-right: 10px solid #FFFFFF;
    width: 64%;
}

.h3Octava {
    font-size: 92%;
    width: 85%;
    margin: 0% 9% 10% 9%;
    color: #18191F
}

.botonOcta {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 10%;
    color: #FF761A;
}

.footer {
    height: 142px;
    margin-top: 20%;
    text-align: center;
    color: #FFFFFF;
    background-color: #3B54A6;
}

.redesSociales {
    margin-top: 12%;
}

/* 768
   1080 */

@media (min-width: 768px) {
    .imgMusee {
        width: 72%;
        margin: -78% 0% 0% 6%;
    }

    .parrafoSegundaParte {
        font-size: 86%;
        width: 324px;
        margin: -28% 3% 2% -18%;
        text-align: end;
        color: #FFFFFF;
    }

    .botonSegundaParte {
        font-size: 89%;
        padding: 5%;
        font-weight: 600;
        text-decoration: none;
        border-radius: 4%;
        font-family: 'Open Sans';
        color: #FFFFFF;
        background-color: #FF761A;
    }

    .infoTercera {
        padding: 8% 10% 0% 13%;
    }

    .cajaTercerParte {
        float: right;
        margin-right: 7%;
        text-align: left;
    }

    .cajaCuartaParte {
        float: left;
        margin-left: 7%;
        text-align: left;
    }

    .tituloQuintaParte {
        margin: 10% 4%;
        float: left;
    }

    .cajaPrincipal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0% 0% 6% 2.5%;
        width: 98%;
    }

    .cajaUno {
        width: 95% !important;
        text-align: revert !important;
        margin: 5% 0%;
    }

    .botonQuinta {
        float: left;
    }

    .h5Caja {
        padding: 3%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 134%;
        color: #000000;
    }

    .w-100 {
        width: 80% !important;
    }

    .h1Sexta {
        width: 353px;
        margin-left: 4%;
        float: left;
    }

    .h1Septima {
        margin: 10% 64% 4% 0%;
    }

    .cajaSeptima {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .octavaParte {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .h1Octava {
        width: 300px;
    }

    .h3Octava {
        margin: -73% 9% 10% 9%;
    }
}

@media (min-width: 992px){
    .nav-item {
        margin: 0px 0px;
    }

    .logo {
        width: 22px;
        margin: 0% 24% 0% 5%;
    }

    .h2Menu {
        font-size: 67%;
        margin-right: 31px;
    }

    .fr-en {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 26px;
    }

    .fr {
        font-size: 120%;
        text-decoration: underline #FF761A;
    }

    .fren {
        font-size: 120%;
    }

    .en {
        font-size: 120%;
    }
}


@media (min-width: 1080px) {

    .imgMusee {
        margin: -78% 0% 0% 0%;
    }

    .parrafoSegundaParte {
        width: 375px;
    }

    .botonSegundaParte {
        margin: -28% 3% 2% -13%;
    }

    #tercerParte {
        margin: 250px 50px 0px 50px;
        height: 512px;
    }

    .cajaTercerParte {
        width: 380px;
        height: 411px;
        display: inline-table;
    }

    .imgCarru {
        vertical-align: middle;
        width: 700px;
        height: 500px;
    }

    .infoCuartaParte{
        width: 120%;
    }

    .cuartaParte {
        width: 383px;
    }

    .cajaPrincipal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0% 0% 0% 1.5%;
    }

    .infoCuartaParte {
        width: 374px !important;
    }

    .quintaParte {
        margin: 0px 61px;
    }

    .tituloQuintaParte {
        margin: 70px 0px 0px 21px;
    }

    .h1Sexta {
        width: 671px;
        margin-left: 3px;
        float: none;
    }

    .cajaActuali {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0% 4%;
    }

    .imgActuali {
        display: grid;
        width: 100%;
        height: 433px;
    }

    .h3Actuali {
        display: grid;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        margin: -10% 0% 0% 10%;
        text-align: left;
        color: #FFFFFF;
    }

    .cajaDeCards {
        width: 115%;
    }

    .imgSeptima {
        width: 83%;
        height: 212px;
    }

    .imgSeptima5 {
        display: grid;
        width: 83%;
        height: 212px;
    }

    .h1Septima {
        margin: 10% 75% 4% 0%;
    }

    .h3Septima {
        width: 70%;
        margin: -19% 0% -4% 0%;
    }

    .fondoSeptima {
        margin: 2% 0% 4% 0%;
        width: 91%;
    }

    .octavaParte {
        margin: 0% 6%;
    }

    .h1Octava {
        width: 402px;
    }

    .h3Octava {
        margin: -80% 9% 10%;
    }

    .footer {
        height: 100%;
        margin-top: 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: baseline;
    }

    .redesSociales {
        margin-top: 0%;
    }

}