* {
    padding: 0%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
}

#primerParte {
    text-align: -webkit-center;
}

.parrafoMusee {
    position: absolute;
    padding: 62px 0px 0px 210px;
    font-size: 26px;
    color: #FFFFFF;
}

.h1Musee {
    position: absolute;
    padding: 84px 0px 0px 30px;
    font-size: 53px;
    color: #FFFFFF;

}

.imgPrimerParte {
    width: 100%;
}

.imgMusee {
    width: 80%;
    margin: -70% 0% 0% 0%;
}

#segundaParte {
    font-family: 'Open Sans';
    padding: 10% 10%;
    margin-left: 4%;
    text-align: center;
}

.parrafoSegundaParte {
    font-size: 86%;
    width: 324px;
    margin: 10% 3% 10% 5%;
    text-align: start;
}

.fondoBotonSegundaParte {
    padding: 12px 5px;
    width: 260px;
    text-align: center;
    border-radius: 4%;
    font-size: 100%;
    background-color: #FF761A;
}

.botonSegundaParte {
    font-size: 89%;
    padding: 0% 4% 0% 4%;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
}

#tercerParte {
    text-align: -webkit-center;
    margin: 122px 0%;
}

.cajaTercerParte {
    display: grid;
    position: relative;
    width: 315px;
    margin-bottom: 7%;
    padding-right: 30px;
    background-color: #3795F5;
}

.infoTercera {
    font-family: 'Open Sans';
    font-size: 117%;
    padding: 8% 0% 0% 18%;
    color: #FFFFFF;
}

.jardinTercera {
    font-family: 'Open Sans';
    font-size: 117%;
    margin: 8% 0% 10% 15%;
    color: #FFFFFF;
}

.relojTercera {
    font-family: 'Open Sans';
    font-size: 117%;
    margin: 8% 0% 10% 15%;
    color: #FFFFFF;
}

.trenTercera {
    font-family: 'Open Sans';
    font-size: 117%;
    margin: 8% 0% 0% 15%;
    color: #FFFFFF;
}

.fondoTercer {
    padding: 12px 5px;
    width: 80%;
    margin: 10% 0% 10% 17%;
    text-align: center;
    border-radius: 4%;
    background-color: #3B54A6;
}

.botonTercer {
    color: #FFFFFF;
    text-decoration: none;
}

.cajaCuartaParte {
    width: 315px;
    font-family: 'Open Sans';
    text-align: left;
    color: #18191F;
}

.tituloCuartaParte {
    text-align: -webkit-left;
    font-family: 'Berthold Walbaum Book';
    font-weight: 500;
    font-size: 233%;
    color: #3B54A6;
}

.infoCuartaParte {
    text-align: -webkit-left;
}

.fondoCuarta {
    text-align: center;
}

.botonCuarta {
    float: left;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #FF761A;
}

.quintaParte {
    text-align: -webkit-center;
}

.tituloQuintaParte {
    width: 280px;
    font-size: 200%;
    margin-top: 5%;
    font-family: 'Berthold Walbaum Book';
    font-weight: 500;
    text-align: left;
    color: #3B54A6;
}

.cajaUno {
    width: 18rem !important;
    background-color: #E5E5E5;
    margin-bottom: 15px;
}

.imgCajaUno {
    width: 100%;
}

.h3CajaUno {
    font-family: 'Open Sans';
    font-weight: 700;
    width: 100%;
    font-size: 130%;
    padding: 4%;
    color: #000000;
}

.h5CajaUno {
    padding: 4%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 117%;
    color: #000000;
}

.lineaQuinta {
    margin-left: 31px;
    font-size: 230%;
    color: #C4C4C4;
}

.pCajaUno {
    font-weight: 600;
    font-size: 19px;
    padding: 4%;
    border-top: 0.5px solid #C4C4C4;
    width: 100%;
    color: #000000;
}

.botonQuinta {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 140%;
    color: #FF761A;
}

.sextaParte {
    text-align: -webkit-center !important;
}

.w-100 {
    width: 315px !important;
}

.h1Sexta {
    width: 290px;
    text-align: left;
    font-family: 'Berthold Walbaum Book';
    font-size: 240%;
    font-weight: 500;
    padding: 7%;
    margin: 5% 0% 0% -10%;
    color: #3B54A6;
}

.fondoBotonSexta {
    font-family: 'Open Sans';
    width: 200px;
    text-align: center;
    border-radius: 4%;
    font-size: 93%;
    padding: 8px 5px;
    margin: 4% 0% 0% 0%;
    background-color: #FF761A;
}

.botonSexta {
    font-size: 89%;
    padding: 0% 4% 0% 4%;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
}

.septimaParte {
    text-align: -webkit-center;
}

.cajaDeCards {
    width: 330px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.h1Septima {
    font-family: 'Berthold Walbaum Book';
    font-style: normal;
    font-weight: 500;
    font-size: 277%;
    padding: 4%;
    margin: 10% 0% 4% -33%;
    color: #3B54A6;
}

.h3Septima {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: -15% 0% -4% 10%;
    text-align: left;
    color: #FFFFFF;
}

.imgActuali{
    display: none;
}

.h3Actuali{
    display: none;
}

.imgSeptima5{
    display: none;
}

.imgSeptima {
    margin-bottom: 2%;
}

.fondoSeptima {
    width: 300px;
    margin-top: 49px;
    text-align: left;
}

.botonSeptima {
    color: #FF761A;
    text-decoration: none;
}

.h1Octava {
    font-family: 'Berthold Walbaum Book';
    font-weight: 500;
    font-size: 239%;
    padding: 8%;
    color: #3B54A6;
}

.imgOctava {
    padding: 8%;
}

.fotoUnoOcta {
    width: 100%;
}

.fotoDosOcta {
    margin: -24% 0% 20% 0%;
    border-top: 10px solid #FFFFFF;
    border-right: 10px solid #FFFFFF;
    width: 64%;
}

.h3Octava {
    font-size: 92%;
    width: 85%;
    margin: 0% 9% 10% 9%;
    color: #18191F
}

.botonOcta {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 10%;
    color: #FF761A;
}

.footer {
    height: 142px;
    margin-top: 20%;
    text-align: center;
    color: #FFFFFF;
    background-color: #3B54A6;
}

.redesSociales {
    margin-top: 12%;
}

/* 768
   1080 */

@media (min-width: 768px) {
    .imgMusee {
        width: 72%;
        margin: -78% 0% 0% 6%;
    }

    .parrafoSegundaParte {
        font-size: 86%;
        width: 324px;
        margin: -28% 3% 2% -18%;
        text-align: end;
        color: #FFFFFF;
    }

    .botonSegundaParte {
        font-size: 89%;
        padding: 5%;
        font-weight: 600;
        text-decoration: none;
        border-radius: 4%;
        font-family: 'Open Sans';
        color: #FFFFFF;
        background-color: #FF761A;
    }

    .cajaTercerParte {
        float: right;
        margin-right: 7%;
        text-align: left;
    }

    .cajaCuartaParte {
        float: left;
        margin-left: 7%;
        text-align: left;
    }

    .tituloQuintaParte {
        margin: 10% 4%;
        float: left;
    }

    .cajaPrincipal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0% 0% 6% 2.5%;
        width: 98%;
    }

    .cajaUno {
        width: 95% !important;
        text-align: revert !important;
        margin: 5% 0%;
    }

    .botonQuinta {
        float: left;
    }

    .h5Caja {
        padding: 3%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 134%;
        color: #000000;
    }

    .w-100 {
        width: 80% !important;
    }

    .h1Sexta {
        width: 353px;
        margin-left: 4%;
        float: left;
    }

    .h1Septima {
        margin: 10% 64% 4% 0%;
    }

    .cajaSeptima {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .octavaParte {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .h1Octava {
        width: 300px;
    }

    .h3Octava {
        margin: -73% 9% 10% 9%;
    }
}

@media (min-width: 1080px) {

    .imgMusee {
        margin: -78% 0% 0% 0%;
    }

    .parrafoSegundaParte {
        width: 375px;
    }

    .botonSegundaParte {
        margin: -28% 3% 2% -13%;
    }

    #tercerParte {
        margin: 250px 92px 0px 92px;
        height: 512px;
    }

    .cajaTercerParte {
        width: 324px;
        height: 411px;
        display: inline-table;
    }

    .imgCarru {
        vertical-align: middle;
        width: 700px;
        height: 500px;
    }

    .cuartaParte {
        width: 383px;
    }

    .cajaPrincipal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0% 0% 0% 1.5%;
    }

    .quintaParte {
        margin: 0px 61px;
    }

    .tituloQuintaParte {
        margin: 70px 0px 0px 21px;
    }

   .cajaActuali{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0% 4%;
   }

   .imgActuali{
    display: grid;
    width: 100%;
    height: 433px;
   }

   .h3Actuali{
    display: grid;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin: -10% 0% 0% 10%;
    text-align: left;
    color: #FFFFFF;
   }

   .cajaDeCards{
    width: 115%;
   }

   .imgSeptima{
    width: 83%;
    height: 212px;
   }
   
   .imgSeptima5{
    display: grid;
    width: 83%;
    height: 212px;
   }

   .h3Septima{
    width: 70%;
    margin: -19% 0% -4% 0%;
   }

   .octavaParte{
    margin: 0% 6%;
   }

   .h1Octava{
    width: 402px;
   }

   .footer{
    height: 100%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
   }

   .redesSociales{
    margin-top: 0%;
   }

}